# Contents
1. Question 1
2. Question 2
3. Question 3
4. Question 4
5. Question 5
6. Question 6
7. Question 7

# Question 1

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Import datasets
path = r'C:\Users\Owner\OneDrive\Desktop\Data Analytics\Achievement 4\11-2022 Instacart Basket Analysis'

In [3]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged1.pkl'))

# Question 2

In [4]:
#aggregate mean, order_number grouped by department_id
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

# Question 3
There are 21 groupings, 1-21 for the entire dataframe but only 8 groupings for the subset dataframe.

# Question 4

In [5]:
#Create a loyalty flag using loc
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['customer_id'])['order_number'].transform(np.max)

In [6]:
ords_prods_merge.head(15)

,Unnamed: 0_x,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Average orders,10
1,1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10
2,2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10
3,3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10
4,4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10
5,5,3367565,1,6,2,7,19.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Average orders,10
6,6,550135,1,7,1,9,20.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,10
7,7,3108588,1,8,1,14,14.0,196,2,1,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,10
8,8,2295261,1,9,1,16,0.0,196,4,1,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,10
9,9,2550362,1,10,4,8,30.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10
10,144,2968173,15,15,1,9,7.0,196,2,0,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,22
11,146,1870022,15,17,2,16,8.0,196,6,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,22
12,147,1911383,15,18,2,11,7.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,22
13,150,2715276,15,21,1,9,7.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,22
14,151,487368,15,22,1,10,14.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most orders,22

In [7]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [8]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [9]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [10]:
#Checking accuracy
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [11]:
ords_prods_merge[['customer_id', 'loyalty_flag', 'order_number']].head(60)

    customer_id      loyalty_flag  order_number
0             1      New customer             1
1             1      New customer             2
2             1      New customer             3
3             1      New customer             4
4             1      New customer             5
5             1      New customer             6
6             1      New customer             7
7             1      New customer             8
8             1      New customer             9
9             1      New customer            10
10           15  Regular customer            15
11           15  Regular customer            17
12           15  Regular customer            18
13           15  Regular customer            21
14           15  Regular customer            22
15           19      New customer             2
16           19      New customer             5
17           19      New customer             7
18           21  Regular customer            10
19           31  Regular customer            10
20           31  Regular customer            17
21           43  Regular customer             6
22           43  Regular customer             9
23           52  Regular customer             1
24           52  Regular customer             2
25           52  Regular customer             3
26           52  Regular customer             5
27           52  Regular customer             7
28           52  Regular customer             9
29           52  Regular customer            10
30           52  Regular customer            11
31           52  Regular customer            12
32           52  Regular customer            15
33           52  Regular customer            17
34           52  Regular customer            18
35           52  Regular customer            19
36           52  Regular customer            21
37           67  Regular customer             1
38           67  Regular customer             2
39           67  Regular customer             3
40           67  Regular customer             4
41           67  Regular customer             5
42           67  Regular customer             6
43           67  Regular customer             8
44           67  Regular customer             9
45           67  Regular customer            10
46           67  Regular customer            11
47           67  Regular customer            12
48           67  Regular customer            13
49           67  Regular customer            14
50           67  Regular customer            16
51           67  Regular customer            18
52           67  Regular customer            19
53           67  Regular customer            21
54           67  Regular customer            22
55           67  Regular customer            23
56           81      New customer             3
57           81      New customer             5
58           82  Regular customer             1
59           82  Regular customer             3

# Question 5

In [12]:
#Checking differences in spending habits
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

On average, new customers tend to spend the most while loyal customers spend the least in terms of product prices.

# Question 6

In [13]:
#Create a spending flag using loc
ords_prods_merge['average_price'] = ords_prods_merge.groupby(['customer_id'])['prices'].transform(np.max)

In [14]:
ords_prods_merge.head(15)

,Unnamed: 0_x,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price
0,0,2539329,1,1,2,8,NaN,196,1,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Average orders,10,New customer,14.0
1,1,2398795,1,2,3,7,15.0,196,1,1,...,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,14.0
2,2,473747,1,3,3,12,21.0,196,1,1,...,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer,14.0
3,3,2254736,1,4,4,7,29.0,196,1,1,...,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,14.0
4,4,431534,1,5,4,15,28.0,196,1,1,...,77,7,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer,14.0
5,5,3367565,1,6,2,7,19.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Average orders,10,New customer,14.0
6,6,550135,1,7,1,9,20.0,196,1,1,...,77,7,9.0,both,Mid-range product,Busiest days,Most orders,10,New customer,14.0
7,7,3108588,1,8,1,14,14.0,196,2,1,...,77,7,9.0,both,Mid-range product,Busiest days,Most orders,10,New customer,14.0
8,8,2295261,1,9,1,16,0.0,196,4,1,...,77,7,9.0,both,Mid-range product,Busiest days,Most orders,10,New customer,14.0
9,9,2550362,1,10,4,8,30.0,196,1,1,...,77,7,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,14.0
10,144,2968173,15,15,1,9,7.0,196,2,0,...,77,7,9.0,both,Mid-range product,Busiest days,Most orders,22,Regular customer,9.0
11,146,1870022,15,17,2,16,8.0,196,6,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,22,Regular customer,9.0
12,147,1911383,15,18,2,11,7.0,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,22,Regular customer,9.0
13,150,2715276,15,21,1,9,7.0,196,1,1,...,77,7,9.0,both,Mid-range product,Busiest days,Most orders,22,Regular customer,9.0
14,151,487368,15,22,1,10,14.0,196,1,1,...,77,7,9.0,both,Mid-range product,Busiest days,Most orders,22,Regular customer,9.0

In [15]:
ords_prods_merge.loc[ords_prods_merge['average_price'] < 10, 'spending_flag'] = 'Low spender'

In [16]:
ords_prods_merge.loc[ords_prods_merge['average_price'] >= 10, 'spending_flag'] = 'High spender'

In [17]:
#Checking accuracy
ords_prods_merge['spending_flag'].value_counts(dropna = False)

High spender    32372969
Low spender        31890
Name: spending_flag, dtype: int64

In [18]:
ords_prods_merge[['customer_id', 'spending_flag', 'average_price']].head(20)

    customer_id spending_flag  average_price
0             1  High spender           14.0
1             1  High spender           14.0
2             1  High spender           14.0
3             1  High spender           14.0
4             1  High spender           14.0
5             1  High spender           14.0
6             1  High spender           14.0
7             1  High spender           14.0
8             1  High spender           14.0
9             1  High spender           14.0
10           15   Low spender            9.0
11           15   Low spender            9.0
12           15   Low spender            9.0
13           15   Low spender            9.0
14           15   Low spender            9.0
15           19  High spender           23.9
16           19  High spender           23.9
17           19  High spender           23.9
18           21  High spender           15.0
19           31  High spender           24.1

# Question 7

In [19]:
#Create a order frequency flag using loc
ords_prods_merge['median_days_since_prior_order'] = ords_prods_merge.groupby(['customer_id'])['days_since_prior_order'].transform(np.max)

In [20]:
ords_prods_merge.head(15)

,Unnamed: 0_x,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_days_since_prior_order
0,0,2539329,1,1,2,8,NaN,196,1,0,...,9.0,both,Mid-range product,Regularly busy,Average orders,10,New customer,14.0,High spender,30.0
1,1,2398795,1,2,3,7,15.0,196,1,1,...,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,14.0,High spender,30.0
2,2,473747,1,3,3,12,21.0,196,1,1,...,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer,14.0,High spender,30.0
3,3,2254736,1,4,4,7,29.0,196,1,1,...,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,14.0,High spender,30.0
4,4,431534,1,5,4,15,28.0,196,1,1,...,9.0,both,Mid-range product,Slowest days,Most orders,10,New customer,14.0,High spender,30.0
5,5,3367565,1,6,2,7,19.0,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Average orders,10,New customer,14.0,High spender,30.0
6,6,550135,1,7,1,9,20.0,196,1,1,...,9.0,both,Mid-range product,Busiest days,Most orders,10,New customer,14.0,High spender,30.0
7,7,3108588,1,8,1,14,14.0,196,2,1,...,9.0,both,Mid-range product,Busiest days,Most orders,10,New customer,14.0,High spender,30.0
8,8,2295261,1,9,1,16,0.0,196,4,1,...,9.0,both,Mid-range product,Busiest days,Most orders,10,New customer,14.0,High spender,30.0
9,9,2550362,1,10,4,8,30.0,196,1,1,...,9.0,both,Mid-range product,Slowest days,Average orders,10,New customer,14.0,High spender,30.0
10,144,2968173,15,15,1,9,7.0,196,2,0,...,9.0,both,Mid-range product,Busiest days,Most orders,22,Regular customer,9.0,Low spender,21.0
11,146,1870022,15,17,2,16,8.0,196,6,1,...,9.0,both,Mid-range product,Regularly busy,Most orders,22,Regular customer,9.0,Low spender,21.0
12,147,1911383,15,18,2,11,7.0,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Most orders,22,Regular customer,9.0,Low spender,21.0
13,150,2715276,15,21,1,9,7.0,196,1,1,...,9.0,both,Mid-range product,Busiest days,Most orders,22,Regular customer,9.0,Low spender,21.0
14,151,487368,15,22,1,10,14.0,196,1,1,...,9.0,both,Mid-range product,Busiest days,Most orders,22,Regular customer,9.0,Low spender,21.0

In [21]:
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] > 20, 'frequency_flag'] = 'non-frequent customer'

In [27]:
ords_prods_merge.loc[(ords_prods_merge['median_days_since_prior_order'] <= 20) & (ords_prods_merge['median_days_since_prior_order'] > 10), 'frequency_flag'] = 'Regular customer'

In [24]:
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] <= 10, 'frequency_flag'] = 'frequent customer'

In [29]:
#Checking accuracy
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

non-frequent customer    24487186
Regular customer          6533511
frequent customer         1384157
NaN                             5
Name: frequency_flag, dtype: int64

In [30]:
ords_prods_merge[['customer_id', 'frequency_flag', 'median_days_since_prior_order']].head(20)

    customer_id         frequency_flag  median_days_since_prior_order
0             1  non-frequent customer                           30.0
1             1  non-frequent customer                           30.0
2             1  non-frequent customer                           30.0
3             1  non-frequent customer                           30.0
4             1  non-frequent customer                           30.0
5             1  non-frequent customer                           30.0
6             1  non-frequent customer                           30.0
7             1  non-frequent customer                           30.0
8             1  non-frequent customer                           30.0
9             1  non-frequent customer                           30.0
10           15  non-frequent customer                           21.0
11           15  non-frequent customer                           21.0
12           15  non-frequent customer                           21.0
13           15  non-frequent customer                           21.0
14           15  non-frequent customer                           21.0
15           19       Regular customer                           20.0
16           19       Regular customer                           20.0
17           19       Regular customer                           20.0
18           21  non-frequent customer                           30.0
19           31      frequent customer                           10.0

In [31]:
#Storing dataframe to pickle
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged2.pkl'))